<h2><%= _.capitalize(crudPlural) %> List</h2>
<table class="table table-striped">                                                                                                                                                                    
	<tr ng-repeat="<%= crudSingle %> in <%= crudPlural %>">
		<td><a href="#/<%= crudSingle %>/<%= "{{" + crudSingle %>._id.$id}}"><%= "{{" + crudSingle %>._id.$id}}</a></td>
		<td><%= "{{" + crudSingle %>.name}}</td>
	</tr>
</table>
<a href="#/<%= crudSingle %>/create">Create</a>
